@{
    Layout = "_LayoutPanel";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <a asp-controller="Home" asp-action="Panel" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-90deg-left"></i>
            <span>Panel Principal</span>
        </a>

        <div class="text-center d-flex justify-content-center align-items-center">
            <img src="~/media/img/report128x.png" alt="Clock">
            <h3 class="display-5"><strong>Reportes Cargas Horarias</strong></h3>
        </div>

      
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <hr />
    </div>


    <div class="col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
        
        <div class="col-3 m-2">
            <div class="card" style="width: 18rem;">
                <img src="~/media/img/morning-routine.png" class="card-img-top">
                <div class="card-body pb-0">
                    <h4 class="card-title text-center"><strong>Asistencia Diaria</strong></h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-grid">
                        <a href="@Url.Action("DailyAsist","Reporte")" class="btn btn-outline-success btn-lg">
                            <i class="bi bi-clock-fill"></i>
                            <strong>Ver</strong>
                        </a>
                    </li>
                </ul>
                
            </div>
        </div>

    @*    <div class="col-3 m-2">
            <div class="card" style="width: 18rem;">
                <img src="~/media/img/time-management.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Asitencia por empleado</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-grid">
                        <a href="#" class="btn btn-outline-success">
                            <i class="bi bi-clock-fill"></i>
                            <span>Ver</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>*@

        <div class="col-3 m-2">
            <div class="card" style="width: 18rem;">
                <img src="~/media/img/total-hours.png" class="card-img-top">
                <div class="card-body pb-0">
                    <h4 class="card-title text-center"><strong>Horas Totales</strong></h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-grid">
                        <a href="@Url.Action("HorasTotales","Reporte")" class="btn btn-outline-success btn-lg">
                            <i class="bi bi-clock-fill"></i>
                            <strong>Ver</strong>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>